body {
  background-color: antiquewhite;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.card {
  transition: transform 0.2s;
  background-color: rgb(250, 211, 164);
}

.card:hover {
  transform: translateY(-5px);
}
